body{
	padding-top: 70px;
	background:#3498db;
	width:100%;
}

#tasks{
	height:300px;
}
#message{
	border: 0px;
	border-radius: 2px;
}
#chatti{
	width: 100%;
    padding-left: -50px;
    background: #2C3E50;
    font-size: 12px;
}
.mygrid-wrapper-div {
    padding-left: 10px;
    overflow: scroll;
    height: 400px;
    color:#ECF0F1;
    width: 100%;
}

.login-buttons-dropdown-align-right {
    float: right;
}

.nav pull-right{
	color: black;
}